<h3>{{getUserAction()}} User</h3>
<a class="btn btn-outline-secondary back-to-list" href="users">Back to Users list</a>            

<div *ngIf="user">
  <div class="row user-detail-row">
    <div class="col user-detail-label"><label for="id">ID</label> </div>
    <div class="col user-field">{{user.id}}</div>
  </div>

  <app-user-detail [user]="user" [isEditable]="isEditable" (needToSave)="save($event)" (needToCancel)="cancel($event)"
  [actionSuccess]="actionSuccess" [actionError]="actionError" [actionName]="actionName"></app-user-detail>

  <div class="row">
      <div class="col"></div>
      <div class="col">
          <button *ngIf="!isEditable" type="button" class="btn btn-primary float-left" (click)="makeEditable(true)">Edit</button>
      </div>
  </div>

  <div class="row">      
      <div class="col"></div>        
      <div class="col">
        <button type="button" class="btn btn-danger float-left" (click)="deleteUser(user)">Delete</button>            
      </div>
  </div>
</div>  